* {
 	-main-color: #77B3D4;
 	-highlight-colour: #a8daf5;
 	}


 .root {
 	-fx-background-color: white;
 	-fx-font-family: "Avenir Next";
 }
 
 #darkOverlay{
 	-fx-background-color: rgba(80,80,80, 0.5);
 }

.button { 
	-fx-background-color: white;
	-fx-background-radius: 10;
	-fx-text-fill: -main-color;
	-fx-font-size: 24;
	-fx-font-weight: bold;
}

.button:hover { 
	-fx-background-color: -highlight-colour;
}



.titled-pane > .title {
	-fx-font-size: 26px;
	-fx-background-color: transparent;
}

.titled-pane > .title > .hbox > .text{
	-fx-fill: white;
}

.titled-pane > .title > .text {
	-fx-fill: white;
}

.titled-pane > .title > .arrow-button .arrow {
	-fx-background-color: white;
}

.titled-pane > *.content {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.split-pane {
	-fx-background-color: transparent;
}
.split-pane-divider {
    -fx-padding: 0;
}

.scroll-pane {
	-fx-background-color: transparent;
}
.scroll-pane > .viewport {
	-fx-background-color: transparent;
}

.toggle-button {
	-fx-background-color: white;
	-fx-background-radius: 20;
	-fx-border-color: white;
	-fx-border-width: 3 3 3 3;
	-fx-border-radius: 20;
	-fx-font-family: "Avenir Next";
	-fx-font-size: 24;
	-fx-font-weight: bold; 
	-fx-text-fill: -main-color;
	-fx-padding: 10 10 10 10;
}

.selected-toggle {
	-fx-background-color: -main-color;
	-fx-background-radius: 20;
	-fx-text-fill: white;
}

#addTaskButton {
	-fx-padding: 0;
	-fx-font-size: 50px;
}

#currentTaskGridPane {
	-fx-background-fill: white, white;
}

#completedTaskGridPane {
	-fx-background-fill: white, white;
}

#FilterVBox{
	-fx-spacing: 5;
}

#FilterHBox{
	-fx-spacing: 80;
}

#resetFilterButton {
	-fx-background-color: white;
	-fx-background-radius: 20;
	-fx-border-color: white;
	-fx-border-width: 3 3 3 3;
	-fx-border-radius: 20;
	-fx-font-family: "Avenir Next";
	-fx-font-size: 24;
	-fx-font-weight: bold; 
	-fx-text-fill: -main-color;
	-fx-padding: 10 10 10 10;
}

#resetFilterButton:hover { 
	-fx-background-color: -highlight-colour;
}

#titledPaneTextTitle{
	-fx-fill: white;
}

#selectedFilterTag{
	-fx-background-color: white;
	-fx-background-radius: 10;
	-fx-text-fill: -main-color;
	-fx-font-size: 20;
	-fx-font-weight: bold;
}
