* {
	-main-color: #77B3D4;
	-white-colour: #ffffff;
	-highlight-colour: #a8daf5;
	-main-font: "Avenir Next";
	}


.root {
	-fx-background-color: -white-colour;
	-fx-background-radius: 25;
	-fx-border-color: -main-color;
	-fx-border-width: 6 6 6 6;
	-fx-border-radius: 20;
}

#addTaskButton { 
	-fx-background-color: -main-color;
	-fx-background-radius: 20;
	-fx-font-family: -main-font;
	-fx-font-size: 48;
	-fx-font-weight: bold; 
}

#addTaskButton:hover { 
	-fx-background-color: -highlight-colour;
}

.label {
	-fx-font-family: -main-font;
 	
}

.toggle-button {
	-fx-background-color: -white-colour;
	-fx-background-radius: 20;
	-fx-border-color: -main-color;
	-fx-border-width: 3 3 3 3;
	-fx-border-radius: 20;
	-fx-font-family: -main-font;
	-fx-font-size: 24;
	-fx-font-weight: bold; 
	-fx-text-fill: -main-color;
}

.toggle-button:selected {
	-fx-background-color: -main-color;
	-fx-background-radius: 20;
	-fx-text-fill: -white-colour;
}

.text-field {
	-fx-background-color: -white-colour;
	-fx-background-radius: 20;
	-fx-border-color: -main-color;
	-fx-border-width: 3 3 3 3;
	-fx-border-radius: 20;
	-fx-font-family: -main-font;
	-fx-font-size: 24;
}

.combo-box {
	-fx-background-color: -white-colour;
	-fx-background-radius: 20;
	-fx-border-color: -highlight-colour;
	-fx-border-width: 3 3 3 3;
	-fx-border-radius: 20;
	-fx-font-family: -main-font;
	-fx-font-size: 24;
}
#closeButton {
	-fx-background-color: -white-colour;
	-fx-font-family: -main-font;
	-fx-font-size: 24;
	-fx-font-weight: bold; 
}

#closeButton:hover { 
	-fx-background-color: -highlight-colour;
}